body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home_heading{
  margin-top: 0.5%;
  text-align: center;
  font-size:1.4em;
  font-family: 'Patua One', cursive;
  text-shadow: 4px 4px 4px rgb(181, 176, 176);
}

.game_box{
  display: grid;
  width: 40%;
  height: 50%;
  margin-top: 5%;
  margin-left: 30%;
  box-shadow: 0px 2px 24px -8px grey;
}
.parent_box{
  padding: 0.3em;
}

.game_sub_boxes{
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 1em;
}



.box_comp:hover{
  box-shadow: none;
  border: 0.2px solid rgb(220, 212, 212);
}

#inbox{
  font-size: 2.5em;
  font-weight: bolder;
}

#win{
  font-size: 1.7em;
  font-family: 'Patua One', cursive;
  text-shadow: 1.5px 1.5px 1.5px grey;
  text-align: center;
  height: 0.3vh;
}
#refresh{
  font-size: 1.1em;
  text-align: center;
  margin-top: 0.2em;
  opacity: 90%;
  font-weight: 400;
  margin-bottom: 5%;
}

@media (min-width:320px) and (max-width:420px){
  .game_box{
    margin-left: 10%;
    width: 80%;
    margin-top: 20%;
  }
  .parent_box{
    padding: 0.2em;
  }
  #home_title{
    font-size: 1.9em;
  }
  #win{
    font-size: 1.5em;
  }
  #refresh{
    font-size: 1em;
    padding: 0.3em;
  }
}

@media (min-width:421px) and (max-width:768px){
  .game_box{
    margin-left: 8%;
    width: 85%;
    margin-top: 20%;
  }
  #home_title{
    font-size: 3.8em;
  }
  #win{
    font-size: 3em;
  }
  #refresh{
    font-size: 2.1em;
    padding: 0.3em;
  }
}

@media  (min-width:769px) and (max-width:900px){
  .game_box{
    margin-left: 8%;
    width: 85%;
    margin-top: 20%;
  }
  #home_title{
    font-size: 3.8em;
  }
  #win{
    font-size: 3em;
  }
  #refresh{
    font-size: 2.1em;
    padding: 0.3em;
  }
}

@media (min-width:901px) and (max-width:1200px){
  .game_box{
    margin-left: 8%;
    width: 85%;
    margin-top: 20%;
  }
  #home_title{
    font-size: 4.8em;
  }
  #win{
    font-size: 3.6em;
  }
  #refresh{
    font-size: 2.5em;
    padding: 0.3em;
  }
}

@media (min-width:1201px){
  .game_box{
    margin-left: 30%;
    width: 40%;
    margin-top: 5%;
  }
  #home_title{
    margin-top: 2%;
    font-size: 3.5em;
  }
  #win{
    font-size:2.8em;
  }
  #refresh{
    font-size: 1.1em;
    padding: 0.3em;
  }
}